* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(225, 225, 225);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1,
h2,
h3 {
  color: rgb(80, 80, 255);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  width: 100%;
}
