/***Navigation Layout***/
nav {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  align-content: center;
}
.nav-navbar ul {
  display: flex;
  justify-content: start;
}
.nav-navbar ul a {
  padding: 1rem;
  color: rgb(120, 120, 120);
}
/***Main Layout***/
main {
  display: grid;
  grid-template-areas: "aside article article article article";
  gap: 0.5rem;
  padding: 2rem;
}
/***Aside common styles***/
aside > div {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}
aside ul {
  padding: 0;
  margin-top: 1rem;
}
aside ul li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
aside h3 {
  display: flex;
  justify-content: space-between;
}
aside h3 i {
  cursor: pointer;
}
/***Aside Components Style***/
.search-item {
  padding: 0;
  border-radius: 30px;
}
.search-item input[type="search"] {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 30px;
}
.catagories-item ul li {
  border-bottom: 1px solid rgb(240, 240, 240);
  border-left: 2px solid rgb(230, 230, 230);
}
.catagories-item ul li a {
  font-size: medium;
  color: black;
}
.top-posts-item ul li {
  border-left: 2px solid rgb(230, 230, 230);
}
.top-posts-item ul li a h5 {
  font-size: large;
  color: black;
}
.top-posts-item ul li a span {
  font-size: small;
  color: gray;
}
.social-media-item .social-media-images {
  margin-top: 1rem;
  display: grid;
  grid-template-areas: "1 2";
  gap: 1rem;
}
/***Article Layout***/
article {
  padding: 0 1rem;
}
.card-items {
  display: grid;
  grid-template-areas: "item-1 item-2";
  gap: 1rem;
  align-items: flex-start;
  align-self: flex-start;
  align-content: flex-start;
}
/***Card Component Style***/
.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.card-body,
.card-footer {
  padding: 1.2rem;
}
.card-body span {
  font-size: small;
  color: gray;
}
.card-body h2 {
  margin: 1rem 0;
  font-size: large;
}
.card-body p {
  font-size: smaller;
}
.card-footer a {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(80, 80, 255);
  color: #fff;
  font-size: small;
}
/***Buttons Style***/
.buttons-group {
  margin-top: 1rem;
}
.buttons-group button[type="menu"] {
  background-color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}
.active {
  background-color: rgb(80, 80, 255) !important;
  color: #fff;
}
/***Footer Layout***/
footer {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
/**Footer Common Styles***/
footer > div {
  padding: 1rem;
}
.footer-item-1 h1,
.footer-item-2 h3,
.footer-item-3 h3 {
  font-size: larger;
  margin-bottom: 1.5rem;
}
.footer-item-1 div a,
.footer-item-2 .links ul li,
.footer-item-3 div a {
  font-size: medium;
  color: gray;
}
.footer-item-1 div a i,
.footer-item-3 div a {
  margin-right: 1rem;
}
/***Footer Component Styles***/
.footer-item-2 .links ul li {
  font-weight: 500;
  margin: 0.5rem 0;
}
.footer-item-3 .footer-social-media {
  display: flex;
  margin-top: 1rem;
}
.footer-item-3 .footer-social-media a i {
  font-size: 36px;
  background-color: #fff;
}
