@media screen and (min-width: 320px) and (max-width: 798px) {
  /******************Navbar******************/
  nav .nav-title a {
    font-size: small;
  }
  .nav-navbar ul a {
    padding: 0.5rem;
  }
  /******************Main******************/
  main {
    display: block;
  }
  /*****
  You can set the 'display' property of all 'ul' elements under the 'aside' tag to 'none' or set the 'display' property to 'none' for each 'ul' for easier handling when using javascript.
  *****/
  aside > div {
    margin-bottom: 1rem;
  }
  aside ul {
    display: none;
  }
  /*
  aside .catagories-item ul {
    display: none;
  }
  aside .top-posts-item ul{
    display: none;
  }
  */
  aside .social-media-item .social-media-images {
    display: none;
  }
  article {
    padding: 0;
    margin-top: 3rem;
  }
  .card-items {
    display: block;
  }
  .card {
    margin-bottom: 2rem;
  }
  /******************Footer******************/
  footer {
    display: block;
  }
}
