.nav-navbar ul a:hover {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  transition: all 0.6s;
}
.top-posts-item ul li:hover{
  border-left: 2px solid rgb(80, 80, 255);
  transition: all 0.4s;
}
.card:hover{
  box-shadow: -6px 6px 5px rgb(185, 185, 185);
}
.card-footer a:hover{
  background-color: rgb(50, 50, 253);
  box-shadow: -3px 3px 5px rgb(185, 185, 185);
  transition: all 0.2s;
}